# executables
*.exe
*.out

# compiler output
*.o
*.a
*.so

# intermediate python files
*.pyc

# vim temporaries
*.swp
*.swo
*.swn
*.swq
*.swm
*.swl

# tar files
*.tar

# json files
*.json

# generated when making on os x
*.dSYM

# eclipse remote sync folders
.ptp-sync-folder

# Mac default files
.DS_Store
